* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.item{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    padding: 10px;
    border: 6px solid darkred;
    margin: 10px;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before
{
    background-color: green;
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid violet;
    content: "";
}

