*        {
    box-sizing: border-box;
}

.container {
    padding: 30px;
    border: 1px dotted black;
}

.parent {
    position: relative;
    padding: 20px;
    border: 1px dotted black;
}

.item.red {
    position: relative;
    /* top: 40px;
    left: 50px; */
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    overflow: auto;
}

.item.green {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    background-color: green;
}

.item.blue {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;                                         
    height: 50px;
    background-color: blue;
}

.section-title {
    position: sticky;
    top: 5px;
    background-color: aqua;
    z-index: 4;
}

.z-index {
    position: relative;
    border: 1px dotted blueviolet;
}

.box.box-1 {
    position: relative;
    top: 20px;
    left: 30px;
    width: 150px;
    height: 150px;
    background-color: rosybrown;
    z-index:3;
}

.box.box-2 {
    position: absolute;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    background-color: rgb(4, 79, 10);
    z-index: 2;
}

.box.box-3 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(160, 11, 120);
    z-index: 1;
}